.ModalOverlay {
  z-index: 1000;
  position: fixed;
  border-radius: 10;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.ModalContent {
  position: relative;
  width: 50%;
  height: 80%;
  top: 10%;
  left: 25%;
  border: 1px solid white;
  background-color: white;
  overflow: auto;
  border-radius: 4px;
  outline: none;
}

.ModalTop-50{
  top: 50% !important;
}